<h1><%= @post.title %></h1>

<% if @post.user.id == current_user.id %>
	
	<form class="delete-form "action="/post/<%= @post.id %>" method="post">
  		<input type="hidden" name="_method" value="delete" /> 
  		<input type="submit" value="" class="delete" />
	</form>
	<span><a href="/post/<%= @post.id %>/edit"><img class="blog-icons" src="../img/edit.png"></a></span>

<% end %>

<h5>Post by <%=@post.user.username%></h5>
<p><%= @post.body %></p>

<!-- End Post Section -->
<hr><hr>
<!-- Comments Section -->

<h2>Comments</h2>
  
<ul class="list-unstyled">

	<% if !@post.comments.nil? %>
		<% @post.comments.each do |comment| %>
		  <li>
		    <h5>Post by <%=comment.user.username%></h5>
		    <p><%= comment.body %></p>
		    <% if comment.user.id == current_user.id %>
		    	
				<form action="/post/<%= @post.id %>/comment/<%= comment.id %>" method="post">
			  		<input type="hidden" name="_method" value="delete" /> 
			  		<input type="submit" value="" class="delete" />
				</form>

	    	<% end %>
	    	<hr>
		  </li>
		<% end %>
	<% end %>
</ul> 


<form action="/post/<%= @post.id %>/comment" method="post">
  <label for="comm_body">Comment:</label><br />
  <textarea class="form-textarea form-control" id="comm_body" name="comment[body]" rows="5" cols ="2"></textarea>
  <br />
  <input type="submit" class="btn btn-primary" value="Create Comment" />
</form>   

<!-- End Comments Section -->