<!-- <div class="container">
	<h2>Germ</h2>
	<p>A cult of ideas</p>
</div> -->

<% if flash[:post] %>
	<div class="alert alert-success" role="alert">
		<p><%= flash[:post] %></p>
	</div>
<% end %>

<% if check_login? %>

	<ul class="list-unstyled">
	<% @posts.each do |post| %>
	  <li class = "post-list col-md-4">
	    <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2> 

	    <% if post.author == @author %>
	    	<span><a href="/edit/<%= post.id %>"><img class="blog-icons" src="../img/edit.png"></a></span>
	    <% end %>

	    <h5>Post by <%=post.author%></h5>
	    <p><%= post.body %></p>
	  </li>
	<% end %>
	</ul> 

<% end %>
